{#- Cisco NX-OS Leaf VXLAN Configuration Template -#}
{#- Enable required features -#}
nv overlay evpn
feature ospf
feature bgp
feature interface-vlan
feature vn-segment-vlan-based
feature nv overlay

hostname {{ name }}

{#- VLAN Configuration with VN-Segments -#}
