!
! {{ name }} Configuration
!
hostname {{ name }}
!
feature ospf
feature bgp
feature interface-vlan
feature lacp
feature vpc
feature lldp
!
! VLANs
{%- for vlan in vlans %}
vlan {{ vlan.vlan_id }}
  name {{ vlan.name }}
!
{%- endfor %}
!
! Interfaces
{%- for interface in interfaces %}
interface {{ interface.name }}
{%- if interface.status == 'active' %}
  no shutdown
{%- endif %}
{%- if interface.ip_addresses %}
{%- for ip in interface.ip_addresses %}
  ip address {{ ip.address }}
{%- if ip.get('ip_namespace', {}).get('name', 'default') != "default" %}
  vrf member {{ ip.get('ip_namespace', {}).get('name') }}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- if interface.vlans %}
  switchport
  switchport mode access
  switchport access vlan {{ interface.vlans[0] }}
{%- endif %}
{%- if interface.get('ospf') %}
  ip ospf area {{ interface.ospf.area }}
{%- endif %}
!
{%- endfor %}
!
! OSPF Configuration
{%- for ospf_config in ospf %}
router ospf {{ ospf_config.process_id }}
  router-id {{ ospf_config.router_id.split('/')[0] }}
  area {{ ospf_config.area }} authentication message-digest
  auto-cost reference-bandwidth {{ ospf_config.reference_bandwidth }}
  passive-interface default
{%- for interface in interfaces %}
{%- if interface.get('ospf') and interface.ospf.area == ospf_config.area %}
  no passive-interface {{ interface.name }}
{%- endif %}
{%- endfor %}
!
{%- endfor %}
!
! BGP Configuration
{%- for bgp_config in bgp %}
router bgp {{ bgp_config.local_as.asn }}
  router-id {{ bgp_config.router_id.address.split('/')[0] }}
{%- if bgp_config.graceful_restart %}
  graceful-restart
{%- endif %}
  !
  template peer-policy {{ bgp_config.profile }}
    send-community
    send-community extended
{%- if bgp_config.session_type == 'INTERNAL' %}
    route-reflector-client
{%- endif %}
  !
  template peer-session {{ bgp_config.profile }}-SESSION
    update-source {{ bgp_config.local_ip.address.split('/')[0] }}
  !
  address-family ipv4 unicast
{%- if bgp_config.multipath %}
    maximum-paths 8
{%- endif %}
  !
  address-family l2vpn evpn
{%- for session in bgp_config.sessions %}
  neighbor {{ session.remote_ip.address.split('/')[0] }}
    remote-as {{ session.remote_as.asn }}
    inherit peer-session {{ bgp_config.profile }}-SESSION
    address-family l2vpn evpn
      inherit peer-policy {{ bgp_config.profile }}
    !
{%- endfor %}
!
{%- endfor %}
!
{%- if vxlan and vxlan.enabled %}
!
! VXLAN Configuration (netlab-style multivendor)
!
{%- for feature in vxlan.features %}
feature {{ feature }}
{%- endfor %}
!
interface {{ vxlan.nve_interface }}
{%- if vxlan.vtep.ipv4 %}
  source-interface {{ vxlan.vtep.source_interface }}
{%- endif %}
{%- for mapping in vxlan.vni_mappings %}
  member vni {{ mapping.vni }}
    {%- if vxlan.evpn and vxlan.evpn.enabled %}
    ingress-replication protocol bgp
    {%- elif vxlan.flooding == "static" and vxlan.remote_vteps %}
    ingress-replication protocol static
      peer-list {{ vxlan.remote_vteps | join(' ') }}
    {%- endif %}
{%- endfor %}
  no shutdown
!
{%- if vxlan.evpn and vxlan.evpn.enabled %}
!
! EVPN Configuration
!
evpn
{%- for mapping in vxlan.vni_mappings %}
  vni {{ mapping.vni }} l2
    rd {{ vxlan.evpn.rd_format }}
    route-target import {{ bgp[0].local_as.asn }}:{{ mapping.vni }}
    route-target export {{ bgp[0].local_as.asn }}:{{ mapping.vni }}
{%- endfor %}
!
{%- endif %}
!
! VLAN to VNI mapping
!
{%- for mapping in vxlan.vni_mappings %}
vlan {{ mapping.vlan_id }}
  vn-segment {{ mapping.vni }}
{%- endfor %}
{%- endif %}
!
! Management
line console
line vty
!