{#- Sonic JSON Leaf Configuration - Using Jinja2 tojson filter for clean JSON -#}
{%- set device_metadata = {
  'localhost': {
    'hostname': hostname,
    'type': 'LeafRouter'
  }
} -%}
{%- if bgp %}
{%- set _ = device_metadata['localhost'].update({'bgp_asn': bgp[0].local_as.asn}) -%}
{%- endif %}

{%- set vlan_config = {} -%}
{%- set loopback_interfaces = {} -%}
{%- set physical_interfaces = {} -%}
{%- set interface_ips = {} -%}
{%- set vlan_interfaces = {} -%}
{%- set bgp_neighbors = {} -%}
{%- set bgp_globals = {'default': {}} -%}
{%- set bgp_peer_groups = {} -%}
{%- set bgp_globals_af = {} -%}
{%- set ospf_router = {} -%}
{%- include 'common/sonic_common.j2' %}

{%- set vxlan_tunnel = {} -%}
{%- set vxlan_tunnel_map = {} -%}
{%- set vrf_config = {} -%}
{%- set vrf_loopback_interfaces = {} -%}
{%- set evpn_nvo = {} -%}
{%- include 'common/sonic_vxlan.j2' %}

{%- set acl_table = {} -%}
{%- set acl_rule = {} -%}
{%- include 'common/sonic_acl.j2' %}

{%- set static_route_table = {} -%}
{%- if vrf_gateways %}
{%- for vrf, nexthop in vrf_gateways.items() %}
{%- set _ = static_route_table.update({vrf + '|0.0.0.0/0': {'nexthop': nexthop, 'ifname': '', 'nexthop-vrf': ''}}) -%}
{%- endfor %}
{%- endif %}

{{ {
  'DEVICE_METADATA': device_metadata,
  'VLAN': vlan_config,
  'LOOPBACK_INTERFACE': loopback_interfaces,
  'INTERFACE': physical_interfaces,
  'INTERFACE_IP': interface_ips,
  'VLAN_INTERFACE': vlan_interfaces,
  'BGP_GLOBALS': bgp_globals,
  'BGP_GLOBALS_AF': bgp_globals_af,
  'BGP_PEER_GROUP': bgp_peer_groups,
  'BGP_NEIGHBOR': bgp_neighbors,
  'OSPF_ROUTER': ospf_router,
  'VXLAN_TUNNEL': vxlan_tunnel,
  'VXLAN_TUNNEL_MAP': vxlan_tunnel_map,
  'VRF': vrf_config,
  'EVPN_NVO': evpn_nvo,
  'ACL_TABLE': acl_table,
  'ACL_RULE': acl_rule,
  'STATIC_ROUTE': static_route_table
} | tojson(indent=2) }}
{%- include 'common/sonic_mclag.j2' -%}
{%- include 'common/sonic_management.j2' %}
