[tool.poetry]
name = "infrahub-demo"
version = "0.1.0"
description = ""
authors = ["Tomek Zajac <tomek@mastuazi.com>"]
readme = "README.md"
[tool.poetry.dependencies]
python = ">=3.9, < 3.13"
invoke = "^2.2.0"
pytest = "^8.3.5"
infrahub-sdk = {extras = ["all"], version = "^1.7.2"}


[tool.poetry.group.dev.dependencies]
ipdb = "^0.13.13"
pylint = "^3.2.6"
yamllint = "^1.36.0"
pre-commit = "^4.1.0"
pydocstyle = "^6.3.0"
bandit = "^1.8.3"
black = "^24.8.0"
flake8 = "^7.1.2"
invoke = "^2.2.0"
pytest = "^8.3.5"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
