[tool.poetry]
name = "infrahub-demo"
version = "0.1.0"
description = ""
authors = ["Tomek Zajac <tomek@mastuazi.com>"]
readme = "README.md"
[tool.poetry.dependencies]
python = ">=3.9, < 3.13"
invoke = "^2.2.0"
pytest = "^8.3.2"
infrahub-sdk = {extras = ["all"], version = "^1.0.0"}
infrahub-sync = "^1.0.0"

[tool.poetry.group.dev.dependencies]
ipdb = "^0.13.13"
pylint = "^3.2.6"
yamllint = "^1.35.1"
pre-commit = "^3.8.0"
pydocstyle = "^6.3.0"
bandit = "^1.7.9"
black = "^24.8.0"
flake8 = "^7.1.1"
invoke = "^2.2.0"
pytest = "^8.3.4"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
