[project]
authors = [
    {name = "Tomek Zajac", email = "tomek@mastuazi.com"},
]
requires-python = "<3.13,>=3.10"
dependencies = [
    "invoke<3.0.0,>=2.2.0",
    "infrahub-sdk[all]>=1.15.0b0,<2.0.0",
]
name = "infrahub-demo"
version = "0.1.5"
description = "Design driven automation"
readme = "README.md"

[dependency-groups]
dev = [
    "datamodel-code-generator>=0.35.0",
    "infrahub-testcontainers>=1.5.2",
    "invoke>=2.2.0",
    "pytest>=8.3.5",
    "pytest-asyncio>=0.26.0",
    "pytest-dependency>=0.6.0",
    "pytest-order>=1.3.0",
    "ruff>=0.11.4",
    "ty>=0.0.7",
    "types-pyyaml>=6.0.12.20250809",
    "yamllint>=1.37.1",
]

[tool.mypy]
pretty = true
ignore_missing_imports = true
disallow_untyped_defs = true

[[tool.mypy.overrides]]
module = ["untyped_package.*"]
follow_untyped_imports = true

[tool.pytest.ini_options]
asyncio_mode = "auto"
testpaths = ["tests"]
asyncio_default_fixture_loop_scope = "function"
