!
! Arista EOS VXLAN/EVPN Spine Configuration
! Device: {{ name }}
! Role: {{ role.name }}
!

hostname {{ name }}

! Configure loopback interface
interface Loopback0
   description Router ID / BGP RR
{%- for interface in interfaces %}
  {%- if interface.name == "Loopback0" and interface.ip_addresses %}
   ip address {{ interface.ip_addresses[0].address }}/32
   ip ospf area 0.0.0.0
  {%- endif %}
{%- endfor %}

! Configure underlay interfaces
{%- for interface in interfaces %}
  {%- if interface.connected_endpoint and "leaf" in interface.connected_endpoint.name %}
interface {{ interface.name }}
   description {{ interface.description or "To " + interface.connected_endpoint.name }}
   no switchport
   mtu 9214
    {%- if interface.ip_addresses %}
   ip address {{ interface.ip_addresses[0].address }}
    {%- endif %}
   ip ospf network point-to-point
   ip ospf area 0.0.0.0
  {%- endif %}
{%- endfor %}

! Configure OSPF
router ospf 1
   router-id {{ loopback0_ip }}
   passive-interface default
{%- for interface in interfaces %}
  {%- if interface.connected_endpoint and "leaf" in interface.connected_endpoint.name %}
   no passive-interface {{ interface.name }}
  {%- endif %}
{%- endfor %}
   max-lsa 12000

! Configure BGP for EVPN Route Reflection
router bgp {{ local_asn }}
   router-id {{ loopback0_ip }}
   distance bgp 20 200 200
   maximum-paths 4 ecmp 4

   ! BGP neighbors (leafs)
{%- for bgp_service in bgp_services %}
  {%- if bgp_service.session_type == "INTERNAL" %}
   neighbor {{ bgp_service.remote_ip.address.split('/')[0] }} remote-as {{ bgp_service.remote_as.asn }}
   neighbor {{ bgp_service.remote_ip.address.split('/')[0] }} update-source Loopback0
   neighbor {{ bgp_service.remote_ip.address.split('/')[0] }} route-reflector-client
   neighbor {{ bgp_service.remote_ip.address.split('/')[0] }} send-community extended
  {%- endif %}
{%- endfor %}

   ! EVPN address family
   address-family evpn
{%- for bgp_service in bgp_services %}
  {%- if bgp_service.session_type == "INTERNAL" %}
      neighbor {{ bgp_service.remote_ip.address.split('/')[0] }} activate
  {%- endif %}
{%- endfor %}

!
end
