{#- Sonic JSON ToR Configuration - Using Jinja2 tojson filter for clean JSON -#}
{%- set device_metadata = {
  'localhost': {
    'hostname': hostname,
    'type': 'ToRRouter'
  }
} -%}
{%- if bgp %}
{%- set _ = device_metadata['localhost'].update({'bgp_asn': bgp[0].local_as.asn}) -%}
{%- endif %}

{%- set vlan_config = {} -%}
{%- set loopback_interfaces = {} -%}
{%- set physical_interfaces = {} -%}
{%- set interface_ips = {} -%}
{%- set vlan_interfaces = {} -%}
{%- set bgp_neighbors = {} -%}
{%- set bgp_globals = {'default': {}} -%}
{%- set bgp_peer_groups = {} -%}
{%- set bgp_globals_af = {} -%}
{%- set ospf_router = {} -%}
{%- include 'common/sonic_common.j2' %}

{{ {
  'DEVICE_METADATA': device_metadata,
  'VLAN': vlan_config,
  'LOOPBACK_INTERFACE': loopback_interfaces,
  'INTERFACE': physical_interfaces,
  'INTERFACE_IP': interface_ips,
  'VLAN_INTERFACE': vlan_interfaces,
  'BGP_GLOBALS': bgp_globals,
  'BGP_GLOBALS_AF': bgp_globals_af,
  'BGP_PEER_GROUP': bgp_peer_groups,
  'BGP_NEIGHBOR': bgp_neighbors,
  'OSPF_ROUTER': ospf_router
} | tojson(indent=2) }}
{%- include 'common/sonic_mclag.j2' -%}
{%- include 'common/sonic_management.j2' %}
