---
version: "1.0"
generics:
  - name: Generic
    namespace: Service
    description: "Services"
    include_in_menu: false
    order_by:
      - name__value
    display_label: "{{name__value}}"
    attributes:
      - name: name
        kind: Text
        label: Name
        optional: false
        order_weight: 1
        description: Service Name
      - name: status
        order_weight: 30
        optional: false
        kind: Dropdown
        choices:
          - name: provisioning
            label: Provisioning
            description: "In the process of being set up and configured."
            color: "#ffff7f"
          - name: active
            label: Active
            description: "Fully operational and currently in service."
            color: "#7fbf7f"
          - name: decommissioning
            label: Decommissioning
            description: "In the process of beeing taken out of service."
            color: "#fbfbfb"
          - name: decommissioned
            label: Decommissioned
            description: "Taken out of service."
            color: "#bfbfbf"
        default_value: provisioning
    relationships:
      - name: owner
        peer: OrganizationGeneric
        cardinality: one
        kind: Generic
        order_weight: 100
        optional: false
        on_delete: no-action

  - name: GenericDevice
    namespace: Service
    description: "Services"
    # state: absent
    include_in_menu: false
    # This is only owning relationships toward various services for interfaces
    relationships:
      - name: device
        peer: DcimGenericDevice
        optional: false
        cardinality: one
        kind: Generic
        direction: inbound
        identifier: device_services
        order_weight: 1000

  - name: GenericInterfaces
    namespace: Service
    description: "Services"
    include_in_menu: false
    relationships:
      - name: interfaces
        peer: DcimInterface
        label: Assigned Interfaces
        cardinality: many
        kind: Generic
        optional: true
        identifier: interface_services

extensions:
  nodes:
    - kind: DcimGenericDevice
      relationships:
        - name: device_services
          peer: ServiceGeneric
          label: Services
          optional: true
          direction: outbound
          cardinality: many
          kind: Generic
          # order_weight: 1400
          on_delete: no-action
          identifier: device_services
    - kind: DcimInterface
      relationships:
        - name: interface_services
          peer: ServiceGeneric
          label: Interface Services
          identifier: interface_services
          optional: true
          cardinality: many
          kind: Generic
          # order_weight: 1400
          on_delete: no-action
          # read_only: true
