nv overlay evpn
feature ospf
feature bgp
feature pim
feature nv overlay
feature scp-server
feature openconfig
feature grpc

vlan 1

vrf context management

{#- All Downlink Interfaces (sorted) -#}
{% for interface in interface_roles.all_downlink %}
interface {{ interface.name }}
{% if interface.description %}
  description {{ interface.description }}
{% else %}
  description Link to Leaf
{% endif %}
  no switchport
  mtu {{ interface.mtu or 9216 }}
  medium p2p
  ip unnumbered loopback0
  ip ospf network point-to-point
  ip router ospf {{ ospf.process_id or 'Underlay' }} area {{ ospf.area or '0.0.0.0' }}
  ip pim sparse-mode
  no shutdown

{% endfor %}


interface mgmt0
  vrf member management

{#- Loopback interfaces -#}
{% for interface in interface_roles.loopback %}
interface {{ interface.name }}
{% if interface.name == 'loopback0' %}
  description Underlay Routing Loopback
{% elif interface.name == 'loopback1' %}
  description VTEP Loopback Interface
{% elif interface.description %}
  description {{ interface.description }}
{% else %}
  description Routing Loopback
{% endif %}
{% if interface.ip_address %}
  ip address {{ interface.ip_address | replace('/24', '/32') }}
{% endif %}
{% if interface.name == 'loopback0' %}
  ip router ospf {{ ospf.process_id or 'Underlay' }} area {{ ospf.area or '0.0.0.0' }}
  ip pim sparse-mode
{% elif interface.name != 'loopback1' %}
{#- loopback1 is NOT in OSPF, used only for iBGP EVPN overlay -#}
  ip router ospf {{ ospf.process_id or 'Underlay' }} area {{ ospf.area or '0.0.0.0' }}
  ip pim sparse-mode
{% endif %}
{% endfor %}

icam monitor scale

cli alias name wr copy r s
line console
line vty

router ospf {{ ospf.process_id or 'Underlay' }}
  router-id {{ ospf.router_id or loopbacks.loopback0 }}

router bgp {{ bgp.local_as }}
  router-id {{ bgp.router_id or loopbacks.loopback0 }}
{% for neighbor in bgp.neighbors %}
  neighbor {{ neighbor.remote_ip.split('/')[0] }}
    remote-as {{ neighbor.remote_as }}
    update-source loopback0
    address-family l2vpn evpn
      send-community
      send-community extended
      route-reflector-client
{% endfor %}

grpc port 57400
