!
! {{ name }} Configuration
!
hostname {{ name }}
!
feature ospf
feature bgp
feature interface-vlan
feature lacp
feature vpc
feature lldp
!
! VLANs
!
! Interfaces
{%- for interface in interfaces %}
interface {{ interface.name }}
{%- if interface.status == 'active' %}
  no shutdown
{%- endif %}
{%- include 'common/cisco_nxos_interface_ip.j2' %}
{%- if interface.vlans %}
  switchport
  switchport mode access
  switchport access vlan {{ interface.vlans[0] }}
{%- endif %}
{%- if interface.get('ospf') %}
  ip ospf area {{ interface.ospf.area }}
{%- endif %}
!
{%- endfor %}
!
! OSPF Configuration
{% include 'common/cisco_nxos_ospf.j2' %}
!
! BGP Configuration
{% include 'common/cisco_nxos_bgp.j2' %}
!
{%- include 'common/cisco_nxos_management.j2' %}
!
! Management
line console
line vty
!
