!
! Cisco NX-OS VXLAN/EVPN Spine Configuration
! Device: {{ data.name }}
! Generated for {{ data.device_type.manufacturer.name }} {{ data.device_type.platform.netmiko_device_type }}
!

hostname {{ data.name }}

! Enable required features
feature ospf
feature bgp
feature pim
nv overlay evpn

{# Use enhanced data structures from transforms #}
{%- set bgp_sessions = data.bgp_services or [] %}
{%- set router_id = data.loopback0_ip %}
{%- set local_asn = data.local_asn %}
{%- set underlay_strategy = data.underlay_strategy %}
{%- set is_ospf_underlay = underlay_strategy in ['ospf-ibgp'] %}
{%- set is_ebgp_underlay = underlay_strategy in ['ebgp-ibgp', 'ebgp-only'] %}

! Configure loopback interfaces
{%- for interface in data.interfaces %}
  {%- if interface.typename == "DcimVirtualInterface" and "loopback" in interface.name.lower() %}
interface {{ interface.name }}
  description {{ interface.description if interface.description else "Router ID" }}
    {%- for ip in interface.ip_addresses %}
  ip address {{ ip.address }}
    {%- endfor %}
    {%- if is_ospf_underlay and interface.name.lower() == "loopback0" %}
  ip router ospf 1 area {{ data.ospf_area or "0.0.0.0" }}
    {%- endif %}
  ip pim sparse-mode

  {%- endif %}
{%- endfor %}

{%- if is_ospf_underlay %}
! Configure OSPF
router ospf 1
  router-id {{ router_id }}

{%- endif %}

! Configure underlay interfaces
{%- for interface in data.interfaces %}
  {%- if interface.typename == "DcimPhysicalInterface" and interface.role == "ospf-unnumbered" %}
interface {{ interface.name }}
  description {{ interface.description if interface.description else "Underlay connection" }}
  no shutdown
  mtu 9216
  medium p2p
  ip unnumbered loopback0
      {%- if is_ospf_underlay %}
  ip router ospf 1 area {{ data.ospf_area or "0.0.0.0" }}
      {%- endif %}
  ip pim sparse-mode

  {%- endif %}
{%- endfor %}

! Configure BGP
router bgp {{ local_asn }}
  router-id {{ router_id }}
  bestpath as-path multipath-relax
  reconnect-interval 12

{# Configure peer template for EVPN overlay clients #}
  template peer EVPN-OVERLAY-PEERS
    remote-as {{ local_asn }}
    update-source loopback0
    address-family l2vpn evpn
      send-community extended
      route-reflector-client

  address-family ipv4 unicast
    redistribute direct route-map rm-connected
    maximum-paths 64
  address-family l2vpn evpn
    nexthop route-map rm-nexthop-unchanged
    retain route-target all

{# Configure BGP neighbors from enhanced transform data #}
{%- for bgp_service in bgp_sessions %}
  {%- if bgp_service.session_type == "EXTERNAL" %}
  ! {{ bgp_service.description }}
  neighbor {{ bgp_service.remote_ip.split('/')[0] }}
    remote-as {{ bgp_service.remote_as }}
    update-source loopback0
    description {{ bgp_service.description }}
    address-family ipv4 unicast
  {%- elif bgp_service.session_type == "INTERNAL" %}
  ! {{ bgp_service.description }} (Route Reflector Client)
  neighbor {{ bgp_service.remote_ip.split('/')[0] }}
    inherit peer EVPN-OVERLAY-PEERS
    description {{ bgp_service.description }}
  {%- endif %}
{%- endfor %}

! Configure route-maps
route-map rm-connected permit 10
  match interface loopback0

route-map rm-nexthop-unchanged permit 10
  set ip next-hop unchanged

! Configure PIM
ip pim rp-address 10.254.254.254 group-list 224.0.0.0/4
ip pim ssm range 232.0.0.0/8

! End of configuration
