!
! Cisco NX-OS VXLAN/EVPN Spine Configuration
! Device: {{ data.name }}
! Generated for {{ data.device_type.manufacturer.name }} {{ data.device_type.platform.netmiko_device_type }}
!

hostname {{ data.name }}

! Enable required features
feature ospf
feature bgp
feature pim

{%- set local_asn = data.bgp.asn %}
{%- set router_id = data.bgp.router_id %}
{%- set is_ebgp_underlay = false %}
{%- set is_ospf_underlay = false %}

{%- for neighbor in data.bgp.neighbors %}
  {%- if neighbor.session_type == "EXTERNAL" %}
    {%- set is_ebgp_underlay = true %}
  {%- endif %}
{%- endfor %}

{%- if data.ospf.router_id %}
  {%- set is_ospf_underlay = true %}
{%- endif %}

! Configure loopback interfaces
interface loopback0
  description Router ID / BGP Route Reflector
  ip address {{ router_id }}/32
{%- if is_ospf_underlay %}
  ip router ospf 1 area 0.0.0.0
{%- endif %}
  ip pim sparse-mode

! Configure underlay interfaces
{%- for interface_name, interface_data in data.interfaces.items() %}
  {%- if interface_data.get("role") in ["ospf-unnumbered", "core"] and interface_data.get("connected_endpoint") %}
interface {{ interface_name }}
  description {{ interface_data.description or "To " + interface_data.connected_endpoint }}
  no switchport
  mtu 9216
    {%- if interface_data.get("ip_address") %}
  ip address {{ interface_data.ip_address }}
    {%- else %}
  medium p2p
  ip unnumbered loopback0
    {%- endif %}
    {%- if is_ospf_underlay %}
  ip ospf network point-to-point
  ip router ospf 1 area 0.0.0.0
    {%- endif %}
  ip pim sparse-mode
  no shutdown
  {%- endif %}
{%- endfor %}

{%- if is_ospf_underlay %}
! Configure OSPF for underlay
router ospf 1
  router-id {{ router_id }}
{%- endif %}

! Configure BGP
router bgp {{ local_asn }}
  router-id {{ router_id }}
  bestpath as-path multipath-relax
  log-neighbor-changes

{%- if is_ebgp_underlay %}
  ! eBGP underlay neighbors
{%- for neighbor in data.bgp.neighbors %}
  {%- if neighbor.session_type == "EXTERNAL" %}
  neighbor {{ neighbor.remote_ip or neighbor.interface }}
    remote-as {{ neighbor.remote_asn }}
    description eBGP underlay to leaf
    {%- if neighbor.remote_ip %}
    update-source {{ neighbor.local_ip }}
    {%- else %}
    update-source {{ neighbor.interface }}
    {%- endif %}
    address-family ipv4 unicast
      send-community extended
  {%- endif %}
{%- endfor %}
{%- endif %}

  ! iBGP EVPN Route Reflector neighbors
{%- for neighbor in data.bgp.neighbors %}
  {%- if neighbor.session_type == "INTERNAL" %}
  neighbor {{ neighbor.remote_ip }}
    remote-as {{ neighbor.remote_asn }}
    description iBGP EVPN route reflector client
    update-source loopback0
    address-family l2vpn evpn
      send-community extended
      route-reflector-client
  {%- endif %}
{%- endfor %}

!
end
copy running-config startup-config
