{%- macro render_bgp(bgp, interfaces, capabilities=None) %}
{%- if capabilities is not none and capabilities.bgp_enabled is defined and not capabilities.bgp_enabled %}
! BGP disabled by capability profile
{%- else %}
{%- for bgp_config in bgp %}
router bgp {{ bgp_config.local_as.asn }}
   router-id {{ bgp_config.router_id.address.split('/')[0] }}
   no bgp default ipv4-unicast
   distance bgp 20 200 200
{%- if bgp_config.graceful_restart %}
   graceful-restart
{%- endif %}
{%- if bgp_config.multipath %}
   maximum-paths 4 ecmp 64
{%- endif %}
{%- for pg in bgp_config.peer_groups | default([]) %}
   !
   neighbor {{ pg.name }} peer-group
{%- if pg.get('remote_as') %}
   neighbor {{ pg.name }} remote-as {{ pg.remote_as }}
{%- endif %}
{%- if pg.type == 'overlay' %}
   neighbor {{ pg.name }} update-source Loopback0
{%- endif %}
   neighbor {{ pg.name }} send-community extended
   neighbor {{ pg.name }} maximum-routes 0
{%- if pg.get('bfd_enabled') %}
   neighbor {{ pg.name }} bfd
{%- endif %}
{%- if pg.get('ebgp_multihop') %}
   neighbor {{ pg.name }} ebgp-multihop {{ pg.ebgp_multihop }}
{%- endif %}
{%- endfor %}
{%- for session in bgp_config.sessions %}
{%- set is_unnumbered = session.get('interface_name') and not session.get('remote_ip') %}
{%- set neighbor_id = session.interface_name if is_unnumbered else session.remote_ip.address.split('/')[0] %}
{%- if session.peer_group is defined %}
   neighbor {{ neighbor_id }} peer-group {{ session.peer_group }}
{%- if not session.get('remote_as_from_peer_group') %}
   neighbor {{ neighbor_id }} remote-as {{ session.remote_as.asn }}
{%- endif %}
{%- if session.get('remote_device') %}
   neighbor {{ neighbor_id }} description {{ session.remote_device }}
{%- endif %}
{%- else %}
   neighbor {{ neighbor_id }} remote-as {{ session.remote_as.asn }}
{%- if session.get('ttl') != 1 %}
   neighbor {{ neighbor_id }} update-source Loopback0
{%- endif %}
{%- if session.get('remote_device') %}
   neighbor {{ neighbor_id }} description {{ session.remote_device }}
{%- endif %}
   neighbor {{ neighbor_id }} send-community extended
   neighbor {{ neighbor_id }} maximum-routes 0
{%- if session.get('bfd_enabled') %}
   neighbor {{ neighbor_id }} bfd
{%- endif %}
{%- endif %}
{%- endfor %}
   !
   address-family ipv4
      redistribute connected route-map RM-CONN-2-BGP
{%- for pg in bgp_config.peer_groups | default([]) %}
{%- if 'ipv4' in (pg.address_families | default([])) %}
      neighbor {{ pg.name }} activate
{%- endif %}
{%- endfor %}
{%- for session in bgp_config.sessions %}
{%- set is_unnumbered = session.get('interface_name') and not session.get('remote_ip') %}
{%- if session.peer_group is not defined and not session.address_families %}
{%- if is_unnumbered or ':' not in (session.remote_ip.address if session.remote_ip else '') %}
      neighbor {{ session.interface_name if is_unnumbered else session.remote_ip.address.split('/')[0] }} activate
{%- endif %}
{%- endif %}
{%- endfor %}
   !
{%- set ns = namespace(has_ipv6=false) %}
{%- for pg in bgp_config.peer_groups | default([]) %}
{%- if 'ipv6' in (pg.address_families | default([])) %}{% set ns.has_ipv6 = true %}{% endif %}
{%- endfor %}
{%- for session in bgp_config.sessions %}
{%- if not session.address_families and session.remote_ip and ':' in session.remote_ip.address %}{% set ns.has_ipv6 = true %}{% endif %}
{%- endfor %}
{%- if ns.has_ipv6 %}
   address-family ipv6 unicast
      redistribute connected route-map RM-CONN-2-BGP
{%- for pg in bgp_config.peer_groups | default([]) %}
{%- if 'ipv6' in (pg.address_families | default([])) %}
      neighbor {{ pg.name }} activate
{%- endif %}
{%- endfor %}
{%- for session in bgp_config.sessions %}
{%- if session.peer_group is not defined and not session.address_families and session.remote_ip and ':' in session.remote_ip.address %}
      neighbor {{ session.remote_ip.address.split('/')[0] }} activate
{%- endif %}
{%- endfor %}
   !
{%- endif %}
   address-family evpn
{%- for pg in bgp_config.peer_groups | default([]) %}
{%- if 'evpn' in (pg.address_families | default([])) %}
      neighbor {{ pg.name }} activate
{%- if pg.route_reflector_client is defined and pg.route_reflector_client %}
      neighbor {{ pg.name }} route-reflector-client
{%- endif %}
{%- endif %}
{%- endfor %}
{%- for session in bgp_config.sessions %}
{%- if session.peer_group is not defined and session.address_families %}
{%- set is_unnumbered = session.get('interface_name') and not session.get('remote_ip') %}
{%- set neighbor_evpn = session.interface_name if is_unnumbered else session.remote_ip.address.split('/')[0] %}
      neighbor {{ neighbor_evpn }} activate
{%- if session.get('route_reflector_client') %}
      neighbor {{ neighbor_evpn }} route-reflector-client
{%- endif %}
{%- endif %}
{%- endfor %}
{% endfor %}
{%- endif %}
{%- endmacro %}
