{%- macro render_ospf(ospf, interfaces) %}
{%- for ospf_config in ospf %}
router ospf {{ ospf_config.process_id or 1 }}
   router-id {{ ospf_config.router_id.split('/')[0] }}
{%- if ospf_config.reference_bandwidth %}
   auto-cost reference-bandwidth {{ ospf_config.reference_bandwidth }}
{%- endif %}
   passive-interface default
{%- for interface in interfaces %}
{%- if interface.get('ospf') %}
   no passive-interface {{ interface.name }}
{%- endif %}
{%- endfor %}
   max-lsa 12000
{% endfor %}
{%- endmacro %}
