{%- macro render_bgp(bgp, loopback_name) %}
{%- for bgp_config in bgp %}
router bgp {{ bgp_config.local_as.asn }}
   router-id {{ bgp_config.router_ip }}
{%- if bgp_config.get('cluster_id') %}
   bgp cluster-id {{ bgp_config.cluster_id }}
{%- endif %}
   no bgp default ipv4-unicast
   distance bgp 20 200 200
{%- if bgp_config.graceful_restart %}
   graceful-restart
{%- endif %}
{%- if bgp_config.multipath %}
   maximum-paths 4 ecmp 64
{%- endif %}
{%- for pg in bgp_config.peer_groups | default([]) %}
   !
   neighbor {{ pg.name }} peer-group
{%- if pg.get('remote_as') %}
   neighbor {{ pg.name }} remote-as {{ pg.remote_as }}
{%- endif %}
{%- if pg.type == 'overlay' %}
   neighbor {{ pg.name }} update-source {{ loopback_name }}
{%- endif %}
{%- if pg.get('send_community') %}
   neighbor {{ pg.name }} send-community
{%- endif %}
{%- if pg.get('send_extended_community') %}
   neighbor {{ pg.name }} send-community extended
{%- endif %}
{%- if pg.get('remove_private_as') %}
   neighbor {{ pg.name }} remove-private-as
{%- endif %}
{%- if pg.get('bfd_enabled') %}
   neighbor {{ pg.name }} bfd
{%- endif %}
{%- if pg.get('ebgp_multihop') %}
   neighbor {{ pg.name }} ebgp-multihop {{ pg.ebgp_multihop }}
{%- endif %}
{%- endfor %}
{%- for session in bgp_config.sessions %}
{%- if session.get('local_pref') %}
   route-map {{ session.name }}-LOCAL-PREF-IN permit 10
      set local-preference {{ session.local_pref }}
   !
{%- endif %}
{%- if session.get('med') %}
   route-map {{ session.name }}-MED-OUT permit 10
      set metric {{ session.med }}
   !
{%- endif %}
{%- endfor %}
{%- for session in bgp_config.sessions if not session.get('vrf') %}
{%- if session.peer_group is defined %}
   neighbor {{ session.neighbor }} peer-group {{ session.peer_group }}
{%- if not session.get('remote_as_from_peer_group') %}
   neighbor {{ session.neighbor }} remote-as {{ session.remote_as.asn }}
{%- endif %}
{%- include 'common/_bgp_local_as_eos.j2' %}
{%- if session.get('remote_device') %}
   neighbor {{ session.neighbor }} description {{ session.remote_device }}
{%- endif %}
{%- else %}
   neighbor {{ session.neighbor }} remote-as {{ session.remote_as.asn }}
{%- include 'common/_bgp_local_as_eos.j2' %}
{%- if session.get('ttl') != 1 %}
   neighbor {{ session.neighbor }} update-source {{ loopback_name }}
{%- endif %}
{%- if session.get('remote_device') %}
   neighbor {{ session.neighbor }} description {{ session.remote_device }}
{%- endif %}
{%- if session.get('send_community') %}
   neighbor {{ session.neighbor }} send-community
{%- endif %}
{%- if session.get('send_extended_community') %}
   neighbor {{ session.neighbor }} send-community extended
{%- endif %}
{%- if session.get('remove_private_as') %}
   neighbor {{ session.neighbor }} remove-private-as
{%- endif %}
{%- if session.get('bfd_enabled') %}
   neighbor {{ session.neighbor }} bfd
{%- endif %}
{%- endif %}
{%- if session.get('maximum_routes') %}
   neighbor {{ session.neighbor }} maximum-routes {{ session.maximum_routes }}
{%- endif %}
{%- if session.get('password') %}
   neighbor {{ session.neighbor }} password {{ session.password }}
{%- endif %}
{%- if session.get('local_pref') %}
   neighbor {{ session.neighbor }} route-map {{ session.name }}-LOCAL-PREF-IN in
{%- endif %}
{%- if session.get('med') %}
   neighbor {{ session.neighbor }} route-map {{ session.name }}-MED-OUT out
{%- endif %}
{%- endfor %}
   !
   address-family ipv4
      redistribute connected route-map RM-CONN-2-BGP
{%- for pg in bgp_config.peer_groups | default([]) %}
{%- if 'ipv4' in (pg.address_families | default([])) %}
      neighbor {{ pg.name }} activate
{%- endif %}
{%- endfor %}
{%- for session in bgp_config.sessions if not session.get('vrf') %}
{%- if session.peer_group is not defined and 'ipv4' in (session.address_families | default([])) %}
      neighbor {{ session.neighbor }} activate
{%- endif %}
{%- endfor %}
   !
{%- if bgp_config.has_ipv6 %}
   address-family ipv6 unicast
      redistribute connected route-map RM-CONN-2-BGP
{%- for pg in bgp_config.peer_groups | default([]) %}
{%- if 'ipv6' in (pg.address_families | default([])) %}
      neighbor {{ pg.name }} activate
{%- endif %}
{%- endfor %}
{%- for session in bgp_config.sessions if not session.get('vrf') %}
{%- if session.peer_group is not defined and 'ipv6' in (session.address_families | default([])) %}
      neighbor {{ session.neighbor }} activate
{%- endif %}
{%- endfor %}
   !
{%- endif %}
   address-family evpn
{%- for pg in bgp_config.peer_groups | default([]) %}
{%- if 'evpn' in (pg.address_families | default([])) %}
      neighbor {{ pg.name }} activate
{%- if pg.route_reflector_client is defined and pg.route_reflector_client %}
      neighbor {{ pg.name }} route-reflector-client
{%- endif %}
{%- if pg.get('next_hop_unchanged') %}
      neighbor {{ pg.name }} next-hop-unchanged
{%- endif %}
{%- endif %}
{%- endfor %}
{%- for session in bgp_config.sessions if not session.get('vrf') %}
{%- if session.peer_group is not defined and 'evpn' in (session.address_families | default([])) %}
      neighbor {{ session.neighbor }} activate
{%- if session.get('route_reflector_client') %}
      neighbor {{ session.neighbor }} route-reflector-client
{%- endif %}
{%- if session.get('next_hop_unchanged') %}
      neighbor {{ session.neighbor }} next-hop-unchanged
{%- endif %}
{%- endif %}
{%- endfor %}
{#- VRF neighbours: eBGP handoffs whose local address sits in a tenant
    namespace (transforms/helpers/bgp.py sets session.vrf). They stay out of
    the global neighbour list above and peer from inside their VRF. EOS
    rejects `vrf <name>` here unless the VRF is instantiated; the leaf and
    border-leaf templates create a `vrf instance` for every L3 VNI VRF. -#}
{%- for vrf_name, _sessions in bgp_config.vrf_sessions.items() %}
   !
   vrf {{ vrf_name }}
{%- for session in _sessions %}
      neighbor {{ session.neighbor }} remote-as {{ session.remote_as.asn }}
{%- if session.get('remote_device') %}
      neighbor {{ session.neighbor }} description {{ session.remote_device }}
{%- endif %}
{%- if session.get('send_community') %}
      neighbor {{ session.neighbor }} send-community
{%- endif %}
{%- if session.get('send_extended_community') %}
      neighbor {{ session.neighbor }} send-community extended
{%- endif %}
{%- if session.get('bfd_enabled') %}
      neighbor {{ session.neighbor }} bfd
{%- endif %}
{%- if session.get('maximum_routes') %}
      neighbor {{ session.neighbor }} maximum-routes {{ session.maximum_routes }}
{%- endif %}
{%- if session.get('password') %}
      neighbor {{ session.neighbor }} password {{ session.password }}
{%- endif %}
{%- if session.get('local_pref') %}
      neighbor {{ session.neighbor }} route-map {{ session.name }}-LOCAL-PREF-IN in
{%- endif %}
{%- if session.get('med') %}
      neighbor {{ session.neighbor }} route-map {{ session.name }}-MED-OUT out
{%- endif %}
{%- endfor %}
{%- for _af, _af_sessions in bgp_config.vrf_af_sessions[vrf_name].items() %}
      address-family {{ _af }}
{%- for session in _af_sessions %}
         neighbor {{ session.neighbor }} activate
{%- endfor %}
{%- endfor %}
{%- endfor %}
{% endfor %}
{%- endmacro %}
