{%- macro render_ospf(ospf, interfaces) %}
{%- for ospf_config in ospf %}
router ospf {{ ospf_config.process_id }}
   router-id {{ ospf_config.router_id.split('/')[0] }}
   auto-cost reference-bandwidth {{ ospf_config.reference_bandwidth }}
   passive-interface default
{%- for interface in interfaces %}
{%- if interface.get('ospf') %}
   no passive-interface {{ interface.name }}
{%- endif %}
{%- endfor %}
   max-lsa 12000
{% endfor %}
{%- for interface in interfaces %}
{%- if interface.get('ospf') %}
{%- set ospf = interface.ospf %}
{%- set pid = ospf.process_id or 1 %}
interface {{ interface.name }}
{%- if ospf.area is not none %}
   ip ospf {{ pid }} area {{ ospf.area }}
{%- endif %}
{%- if ospf.mode == 'peer_to_peer' %}
   ip ospf network point-to-point
{%- elif ospf.mode == 'passive' %}
   ip ospf passive
{%- endif %}
{%- if ospf.metric is not none %}
   ip ospf cost {{ ospf.metric }}
{%- endif %}
{%- if ospf.get('password') %}
{%- if ospf.get('authentication_mode') == 'md5' %}
   ip ospf authentication message-digest
   ip ospf message-digest-key 1 md5 {{ ospf.password }}
{%- else %}
   ip ospf authentication
   ip ospf authentication-key {{ ospf.password }}
{%- endif %}
{%- endif %}
{%- endif %}
{%- endfor %}
{%- endmacro %}
