{%- if ntp %}
!
! NTP
!
clock timezone {{ ntp.timezone }} 0 0
{%- for s in ntp.servers %}
ntp server {{ s.address }}{% if s.prefer %} prefer{% endif %}

{%- endfor %}
{%- endif %}
{%- if syslog %}
!
! Syslog
!
{%- for s in syslog.servers %}
logging server {{ s.address }}{% if s.port and s.port != 514 %} port {{ s.port }}{% endif %} {{ s.severity | default('informational') }}

{%- endfor %}
{%- endif %}
{%- if snmp %}
!
! SNMP
!
{%- if snmp.community_ro %}
snmp-server community {{ snmp.community_ro }} ro
{%- endif %}
{%- if snmp.community_rw %}
snmp-server community {{ snmp.community_rw }} rw
{%- endif %}
{%- if snmp.location %}
snmp-server location {{ snmp.location }}
{%- endif %}
{%- if snmp.contact %}
snmp-server contact {{ snmp.contact }}
{%- endif %}
{%- for t in snmp.trap_targets %}
snmp-server host {{ t.address }}{% if t.community %} {{ t.community }}{% endif %} version 2c traps
{%- endfor %}
{%- endif %}
{%- if aaa %}
!
! AAA
!
feature tacacs+
{%- for s in aaa.servers %}
{%- if s.protocol == 'tacacs' %}
tacacs-server host {{ s.address }}{% if s.port %} port {{ s.port }}{% endif %}{% if s.timeout %} timeout {{ s.timeout }}{% endif %}

{%- elif s.protocol == 'radius' %}
radius-server host {{ s.address }}{% if s.port %} auth-port {{ s.port }}{% endif %}{% if s.timeout %} timeout {{ s.timeout }}{% endif %}

{%- endif %}
{%- endfor %}
{%- if aaa.authentication_order == 'tacacs_local' %}
aaa authentication login default group tacacs+ local
{%- elif aaa.authentication_order == 'radius_local' %}
aaa authentication login default group radius local
{%- else %}
aaa authentication login default local
{%- endif %}
{%- if aaa.authorization_commands %}
aaa authorization commands default group tacacs+ local
{%- endif %}
{%- if aaa.accounting_enabled %}
aaa accounting default group tacacs+
{%- endif %}
{%- endif %}
