{#- VXLAN/EVPN VTEP block shared by the NX-OS border-leaf and edge templates.
    When vxlan.multisite is set the device is its site's EVPN Multi-Site border
    gateway (transforms/helpers/vxlan.py _get_multisite_config): it re-originates
    the site's EVPN routes towards the DCI peers (peer-type fabric-external in
    cisco_nxos_bgp.j2) under the shared site VIP, and replicates BUM for the
    stretched VNIs across sites with `multisite ingress-replication`. -#}
{%- if vxlan and vxlan.enabled %}
!
! VXLAN Configuration (netlab-style multivendor)
!
{%- for feature in vxlan.features %}
feature {{ feature }}
{%- endfor %}
{%- if vxlan.evpn and vxlan.evpn.enabled %}
nv overlay evpn
{%- endif %}
!
{%- if vxlan.multisite %}
evpn multisite border-gateway {{ vxlan.multisite.site_id }}
  delay-restore time 300
!
{%- endif %}
{%- include 'common/cisco_nxos_vxlan_vrf.j2' %}
interface {{ vxlan.nve_interface }}
{%- if vxlan.vtep.ipv4 %}
  source-interface {{ vxlan.vtep.source_interface }}
{%- endif %}
{%- if vxlan.evpn and vxlan.evpn.enabled %}
  host-reachability protocol bgp
{%- endif %}
{%- if vxlan.multisite %}
  multisite border-gateway interface {{ vxlan.multisite.vip_interface }}
{%- endif %}
{%- for mapping in vxlan.l2_vni_mappings %}
  member vni {{ mapping.vni }}
    {%- if mapping.arp_suppression %}
    suppress-arp
    {%- endif %}
    {%- if vxlan.multisite and mapping.multisite %}
    multisite ingress-replication
    {%- endif %}
    {%- if vxlan.evpn and vxlan.evpn.enabled %}
    ingress-replication protocol bgp
    {%- elif vxlan.flooding == "static" and vxlan.remote_vteps %}
    ingress-replication protocol static
      peer-list {{ vxlan.remote_vteps | join(' ') }}
    {%- endif %}
{%- endfor %}
{%- for mapping in vxlan.l3_vni_mappings %}
  member vni {{ mapping.l3_vni }} associate-vrf
{%- endfor %}
  no shutdown
!
{%- if vxlan.multisite %}
{%- for name in vxlan.multisite.dci_interfaces %}
interface {{ name }}
  evpn multisite dci-tracking
!
{%- endfor %}
{%- for name in vxlan.multisite.fabric_interfaces %}
interface {{ name }}
  evpn multisite fabric-tracking
!
{%- endfor %}
{%- endif %}
{%- if vxlan.evpn and vxlan.evpn.enabled %}
!
! EVPN Configuration
!
evpn
{%- for mapping in vxlan.l2_vni_mappings %}
  vni {{ mapping.vni }} l2
    {%- if vxlan.evpn.rd_format %}
    rd {{ vxlan.evpn.rd_format | replace('{vni}', mapping.vni | string) }}
    {%- endif %}
    {%- if mapping.route_target %}
    route-target import {{ mapping.route_target }}
    route-target export {{ mapping.route_target }}
    {%- endif %}
{%- endfor %}
!
{%- endif %}
!
! VLAN to VNI mapping
!
{%- for mapping in vxlan.l2_vni_mappings %}
vlan {{ mapping.vlan_id }}
  vn-segment {{ mapping.vni }}
{%- endfor %}
{%- include 'common/cisco_nxos_l3vni_svi.j2' %}
{%- endif %}
