{%- if capabilities is not defined or capabilities.ospf_enabled is not defined or capabilities.ospf_enabled %}
{%- for ospf_config in ospf %}
router ospf {{ ospf_config.process_id or 1 }}
  router-id {{ ospf_config.router_id.split('/')[0] }}
{%- if ospf_config.reference_bandwidth %}
  auto-cost reference-bandwidth {{ ospf_config.reference_bandwidth }}
{%- endif %}
  passive-interface default
{%- for interface in interfaces %}
{%- if interface.get('ospf') %}
  no passive-interface {{ interface.name }}
{%- endif %}
{%- endfor %}
!
{% endfor %}
{%- for interface in interfaces %}
{%- if interface.get('ospf') %}
{%- set iface_ospf = interface.ospf %}
interface {{ interface.name }}
{%- if iface_ospf.area is not none %}
  ip ospf area {{ iface_ospf.area }}
{%- endif %}
{%- if iface_ospf.mode == 'peer_to_peer' %}
  ip ospf network point-to-point
{%- endif %}
{%- if iface_ospf.metric is not none %}
  ip ospf cost {{ iface_ospf.metric }}
{%- endif %}
{%- if iface_ospf.get('password') %}
{%- if iface_ospf.get('authentication_mode') == 'md5' %}
  ip ospf message-digest-key 1 md5 {{ iface_ospf.password }}
{%- else %}
  ip ospf authentication-key {{ iface_ospf.password }}
{%- endif %}
{%- endif %}
!
{%- endif %}
{%- endfor %}
{%- endif %}
