{%- if mlag %}
!
! MC-LAG Configuration
!
configure redundancy mc-lag admin-state enable
configure redundancy mc-lag system-priority {{ mlag.domain_id }}
{%- if mlag.peer_link_lag_id %}
configure lag {{ mlag.peer_link_lag_id }} admin-state enable
{%- if mlag.peer_link_lacp_mode and mlag.peer_link_lacp_mode != 'static' %}
configure lag {{ mlag.peer_link_lag_id }} lacp admin-state enable
configure lag {{ mlag.peer_link_lag_id }} lacp mode {{ mlag.peer_link_lacp_mode }}
{%- endif %}
{%- for member in mlag.peer_link_members %}
configure lag {{ mlag.peer_link_lag_id }} port {{ member }}
{%- endfor %}
configure redundancy mc-lag peer-link lag {{ mlag.peer_link_lag_id }}
{%- elif mlag.peer_link %}
configure redundancy mc-lag peer-link port {{ mlag.peer_link }}
{%- endif %}
{%- endif %}
