!
! Arista EOS Super Spine Configuration
! Device: {{ hostname }}
! Generated for Arista EOS
!

hostname {{ hostname }}

! Configure spanning tree mode
spanning-tree mode mstp

! Configure VLAN 1
no spanning-tree vlan-id 4094

{#- VLAN Configuration -#}
{%- for vlan in vlans %}
vlan {{ vlan.vlan_id }}
   name {{ vlan.name or 'VLAN_' + vlan.vlan_id|string }}
{% endfor %}

{#- All Interfaces (Loopback, Physical, Virtual) -#}
{%- for interface in interfaces %}
interface {{ interface.name }}
{%- if interface.description %}
   description {{ interface.description }}
{%- endif %}
{%- if interface.ip_addresses %}
{%- for ip in interface.ip_addresses %}
   ip address {{ ip.address }}
{%- endfor %}
{%- endif %}
{%- if interface.vlans %}
{%- if interface.vlans|length == 1 %}
   switchport access vlan {{ interface.vlans[0] }}
{%- else %}
   switchport trunk allowed vlan {{ interface.vlans|join(',') }}
{%- endif %}
{%- endif %}
{%- if interface.get('ospf') %}
   ip ospf area {{ interface.ospf.area }}
{%- endif %}
   no shutdown
{% endfor %}

{%- if ospf %}
! Configure OSPF
{%- for ospf_config in ospf %}
router ospf {{ ospf_config.process_id or 1 }}
   router-id {{ ospf_config.router_id.split('/')[0] }}
   passive-interface default
{%- for interface in interfaces %}
{%- if interface.get('ospf') %}
   no passive-interface {{ interface.name }}
{%- endif %}
{%- endfor %}
   max-lsa 12000
{% endfor %}
{%- endif %}

{%- if bgp %}
! Configure BGP
{%- for bgp_config in bgp %}
router bgp {{ bgp_config.local_as.asn }}
   router-id {{ bgp_config.router_id.address.split('/')[0] }}
   no bgp default ipv4-unicast
   distance bgp 20 200 200
   maximum-paths 4 ecmp 64
{%- for session in bgp_config.sessions %}
   neighbor {{ session.remote_ip.address.split('/')[0] }} remote-as {{ session.remote_as.asn }}
   neighbor {{ session.remote_ip.address.split('/')[0] }} update-source Loopback0
   neighbor {{ session.remote_ip.address.split('/')[0] }} send-community extended
   neighbor {{ session.remote_ip.address.split('/')[0] }} maximum-routes 0
{%- endfor %}
   address-family ipv4
      redistribute connected route-map RM-CONN-2-BGP
{%- for session in bgp_config.sessions %}
      neighbor {{ session.remote_ip.address.split('/')[0] }} activate
{%- endfor %}
   address-family evpn
{%- for session in bgp_config.sessions %}
      neighbor {{ session.remote_ip.address.split('/')[0] }} activate
{%- endfor %}
{% endfor %}
{%- endif %}

! Configure route-maps
route-map RM-CONN-2-BGP permit 10
   match interface Loopback0

! End of configuration
