{% for topology in data.TopologyDeployment %}
---
name: {{ topology.name }}
prefix: ""

mgmt:
  network: {{ topology.name | lower() }}
  ipv4-subnet: "172.20.{{ loop.index0 }}.0/24"

{% if topology.devices %}
topology:
  nodes:
    {% for device in topology.devices %}
    {{ device.name }}:
      kind: {{ device.platform.containerlab_os }}
      type: {{ device.device_type.name }}
      image: {{ device.os_version }}
      {% if device.primary_address.address is defined %}
      management:
        ipv4: {{ device.primary_address.address }}
      {% endif %}
    {% endfor %}

  links:
    {% set processed_endpoints = [] %}
    {% for device in topology.devices %}
      {% for interface in device.interfaces %}
        {% if interface.cable and interface.cable.display_label %}
          {% set cable_endpoints = interface.cable.display_label.split("__") %}
          {% if cable_endpoints | length == 2 %}
            {% set endpoint1_raw = cable_endpoints[0] %}
            {% set endpoint2_raw = cable_endpoints[1] %}
            {% set endpoint_tuple = [endpoint1_raw, endpoint2_raw] | sort %}
            {% set endpoint_key = endpoint_tuple | join("|") %}
            {% if endpoint_key not in processed_endpoints %}
              {% set _ = processed_endpoints.append(endpoint_key) %}
              {% set endpoint1 = endpoint1_raw.replace("Ethernet", "eth") %}
              {% set endpoint2 = endpoint2_raw.replace("Ethernet", "eth") %}
    - endpoints: ["{{ endpoint1 }}", "{{ endpoint2 }}"]
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
{% endif %}
{% endfor %}
