{#- Dell SONiC Border Leaf Configuration -#}
! Hostname configuration
hostname {{ hostname }}

! Enable required features
nv overlay evpn
feature ospf
feature bgp
feature interface-vlan
feature vn-segment-vlan-based
feature nv overlay

{#- VLAN Configuration -#}
{%- for vlan in vlans %}
vlan {{ vlan.vlan_id }}
  name {{ vlan.name or 'VLAN_' + vlan.vlan_id|string }}
  vn-segment {{ vlan.get('vni', vlan.vlan_id) }}
{% endfor %}

{#- All Physical Interfaces -#}
{%- for interface in interfaces %}
interface {{ interface.name }}
{%- if interface.description %}
  description {{ interface.description }}
{%- endif %}
{%- if interface.ip_addresses %}
{%- for ip in interface.ip_addresses %}
  ip address {{ ip.address }}
{%- endfor %}
{%- endif %}
{%- if interface.vlans %}
  switchport
  switchport mode access
  switchport access vlan {{ interface.vlans[0] }}
{%- endif %}
{%- if interface.get('ospf') %}
  ip router ospf {{ ospf[0].process_id or 1 }} area {{ interface.ospf.area }}
{%- endif %}
  no shutdown
!
{% endfor %}

{%- if ospf %}
{#- OSPF Configuration -#}
{%- for ospf_config in ospf %}
router ospf {{ ospf_config.process_id or 1 }}
  router-id {{ ospf_config.router_id.split('/')[0] }}
  reference-bandwidth {{ ospf_config.reference_bandwidth or 100000 }}
  passive-interface default
{%- for interface in interfaces %}
{%- if interface.get('ospf') %}
  no passive-interface {{ interface.name }}
{%- endif %}
{%- endfor %}
!
{% endfor %}
{%- endif %}

{%- if bgp %}
{#- BGP Configuration -#}
{%- for bgp_config in bgp %}
router bgp {{ bgp_config.local_as.asn }}
  router-id {{ bgp_config.router_id.address.split('/')[0] }}
  no bgp default ipv4-unicast
  distance bgp 20 200 200
  maximum-paths 4 ecmp 64
{%- for session in bgp_config.sessions %}
  neighbor {{ session.remote_ip.address.split('/')[0] }} remote-as {{ session.remote_as.asn }}
  neighbor {{ session.remote_ip.address.split('/')[0] }} update-source Loopback0
  neighbor {{ session.remote_ip.address.split('/')[0] }} send-community extended
  neighbor {{ session.remote_ip.address.split('/')[0] }} maximum-routes 0
{%- endfor %}
  address-family ipv4
    redistribute connected route-map RM-CONN-2-BGP
{%- for session in bgp_config.sessions %}
    neighbor {{ session.remote_ip.address.split('/')[0] }} activate
{%- endfor %}
  address-family evpn
{%- for session in bgp_config.sessions %}
    neighbor {{ session.remote_ip.address.split('/')[0] }} activate
{%- endfor %}
!
{% endfor %}
{%- endif %}

! Configure route-maps
route-map RM-CONN-2-BGP permit 10
  match interface Loopback0

! End of configuration
