#!/usr/bin/env python3
# Nokia SROS Border Leaf Configuration Template
# Device: {{ hostname }}
# Generated configuration

{#- Nokia SROS Configuration -#}
A admin configure system hostname "{{ hostname }}"
A admin configure system dns resolver admin-state enable
A admin configure router "Base" admin-state enable
A admin configure router "Base" router-id "{{ bgp[0].router_id.address.split('/')[0] if bgp else '0.0.0.0' }}"

{#- Loopback Interface -#}
A admin configure port "system" admin-state enable
A admin configure port "system" mtu 9212
A admin configure router "Base" interface "system" admin-state enable
A admin configure router "Base" interface "system" ip-mtu 9000
A admin configure router "Base" interface "system" ipv4 admin-state enable
A admin configure router "Base" interface "system" ipv4 primary address "{{ bgp[0].router_id.address if bgp else '0.0.0.1/32' }}"

{#- VRF Configuration -#}
A admin configure service vprn 1000 customer 1 admin-state enable
A admin configure service vprn 1000 route-distinguisher auto
A admin configure service vprn 1000 vrf-import policy "TENANT_IMPORT"
A admin configure service vprn 1000 vrf-export policy "TENANT_EXPORT"

{#- External VRF Configuration -#}
A admin configure service vprn 2000 customer 1 admin-state enable
A admin configure service vprn 2000 route-distinguisher auto
A admin configure service vprn 2000 vrf-import policy "EXTERNAL_IMPORT"
A admin configure service vprn 2000 vrf-export policy "EXTERNAL_EXPORT"

{#- VLAN Configuration -#}
{%- if vlans and vlans|length > 0 %}
{%- for vlan in vlans %}
A admin configure service vpls {{ vlan.id }} customer 1 admin-state enable
A admin configure service vpls {{ vlan.id }} description "{{ vlan.name }}"
{%- endfor %}
{%- endif %}

{#- Physical Interfaces -#}
{%- for interface in interfaces %}
A admin configure port "{{ interface.name }}" admin-state enable
A admin configure port "{{ interface.name }}" mtu 9212
{%- if interface.role == 'external' %}
A admin configure service vprn 2000 interface "{{ interface.name }}" admin-state enable
A admin configure service vprn 2000 interface "{{ interface.name }}" mtu 9000
A admin configure service vprn 2000 interface "{{ interface.name }}" description "{{ interface.description or interface.role|title }}"
{%- if interface.ip_addresses %}
A admin configure service vprn 2000 interface "{{ interface.name }}" ipv4 admin-state enable
{%- for ip in interface.ip_addresses %}
A admin configure service vprn 2000 interface "{{ interface.name }}" ipv4 primary address "{{ ip.address }}"
{%- endfor %}
{%- endif %}
{%- else %}
A admin configure router "Base" interface "{{ interface.name }}" admin-state enable
A admin configure router "Base" interface "{{ interface.name }}" mtu 9000
A admin configure router "Base" interface "{{ interface.name }}" description "{{ interface.description or interface.role|title }}"
{%- if interface.ip_addresses %}
A admin configure router "Base" interface "{{ interface.name }}" ipv4 admin-state enable
{%- for ip in interface.ip_addresses %}
A admin configure router "Base" interface "{{ interface.name }}" ipv4 primary address "{{ ip.address }}"
{%- endfor %}
{%- endif %}
{%- if interface.get('ospf') %}
A admin configure router "Base" ospf 1 interface "{{ interface.name }}" admin-state enable
A admin configure router "Base" ospf 1 interface "{{ interface.name }}" area "{{ interface.ospf.area }}"
{%- endif %}
{%- endif %}
{%- if interface.role == 'server' and interface.get('vlan') %}
A admin configure port "{{ interface.name }}" ethernet encap-type dot1q
A admin configure port "{{ interface.name }}" ethernet access vlan {{ interface.vlan }}
{%- endif %}
{% endfor %}

{%- if ospf %}
{#- OSPF Configuration -#}
{%- for ospf_config in ospf %}
A admin configure router "Base" ospf 1 admin-state enable
A admin configure router "Base" ospf 1 router-id "{{ ospf_config.router_id.split('/')[0] }}"
A admin configure router "Base" ospf 1 traffic-engineering admin-state enable
{%- for interface in interfaces %}
{%- if interface.get('ospf') and interface.role != 'external' %}
A admin configure router "Base" ospf 1 interface "{{ interface.name }}" passive disable
{%- else %}
A admin configure router "Base" ospf 1 interface "{{ interface.name }}" passive enable
{%- endif %}
{%- endfor %}
{% endfor %}
{%- endif %}

{%- if bgp %}
{#- BGP Configuration -#}
{%- for bgp_config in bgp %}
A admin configure router "Base" bgp 1 admin-state enable
A admin configure router "Base" bgp 1 router-id "{{ bgp_config.router_id.address.split('/')[0] }}"
A admin configure router "Base" bgp 1 local-as {{ bgp_config.local_as.asn }}
A admin configure router "Base" bgp 1 ebgp-default-reject-policy import false
A admin configure router "Base" bgp 1 ebgp-default-reject-policy export false
{%- for session in bgp_config.sessions %}
{%- if session.type == 'external' %}
A admin configure service vprn 2000 bgp admin-state enable
A admin configure service vprn 2000 bgp router-id "{{ bgp_config.router_id.address.split('/')[0] }}"
A admin configure service vprn 2000 bgp local-as {{ bgp_config.local_as.asn }}
A admin configure service vprn 2000 bgp neighbor "{{ session.remote_ip.address.split('/')[0] }}" admin-state enable
A admin configure service vprn 2000 bgp neighbor "{{ session.remote_ip.address.split('/')[0] }}" peer-as {{ session.remote_as.asn }}
{%- else %}
A admin configure router "Base" bgp 1 neighbor "{{ session.remote_ip.address.split('/')[0] }}" admin-state enable
A admin configure router "Base" bgp 1 neighbor "{{ session.remote_ip.address.split('/')[0] }}" peer-as {{ session.remote_as.asn }}
{%- endif %}
{%- endfor %}
{#- EVPN Configuration -#}
A admin configure router "Base" bgp 1 family evpn
{%- for session in bgp_config.sessions %}
{%- if session.type != 'external' %}
A admin configure router "Base" bgp 1 neighbor "{{ session.remote_ip.address.split('/')[0] }}" family evpn
{%- endif %}
{%- endfor %}
{% endfor %}
{%- endif %}

! End of configuration