!
! BGP Peering Configuration for {{ device_name }} (Arista EOS)
!
{%- for peering in bgp_peering_sessions %}
{%- set session = peering %}
{%- set local_as = session.local_as.asn %}
{%- set remote_as = session.remote_as.asn %}
{%- set local_ip = session.local_ip.address.split('/')[0] %}
{%- set remote_ip = session.remote_ip.address.split('/')[0] %}

{%- if session.session_scope == 'EXTERNAL' and session.external_organization %}
! External peering with {{ session.external_organization.name }}
! Peering Type: {{ session.peering_type }}
{%- else %}
! Internal peering session
{%- endif %}
!
router bgp {{ local_as }}
{%- if not loop.first %}
   ! Additional peering session
{%- endif %}

   {%- if session.peer_group %}
   ! Peer group configuration: {{ session.peer_group.name }}
   peer-group {{ session.peer_group.name }}
   {%- if session.peer_group.bfd_enabled %}
   neighbor {{ session.peer_group.name }} bfd
   {%- endif %}
   {%- if session.peer_group.password %}
   neighbor {{ session.peer_group.name }} password {{ session.peer_group.password }}
   {%- endif %}
   {%- if session.peer_group.send_community %}
   neighbor {{ session.peer_group.name }} send-community
   {%- endif %}
   {%- if session.peer_group.send_community_extended %}
   neighbor {{ session.peer_group.name }} send-community extended
   {%- endif %}
   {%- if session.peer_group.maximum_routes %}
   neighbor {{ session.peer_group.name }} maximum-routes {{ session.peer_group.maximum_routes }}
   {%- endif %}
   {%- if session.peer_group.ebgp_multihop > 0 %}
   neighbor {{ session.peer_group.name }} ebgp-multihop {{ session.peer_group.ebgp_multihop }}
   {%- endif %}
   {%- endif %}

   ! Neighbor configuration
   neighbor {{ remote_ip }} remote-as {{ remote_as }}
   neighbor {{ remote_ip }} description {{ session.description or session.name }}
   {%- if session.peer_group %}
   neighbor {{ remote_ip }} peer-group {{ session.peer_group.name }}
   {%- else %}
   {%- if session.bfd_enabled %}
   neighbor {{ remote_ip }} bfd
   {%- endif %}
   {%- if session.password %}
   neighbor {{ remote_ip }} password {{ session.password }}
   {%- endif %}
   {%- if session.session_type == 'EBGP_MULTIHOP' %}
   neighbor {{ remote_ip }} ebgp-multihop {{ session.ttl_security or 5 }}
   {%- endif %}
   {%- if session.send_community %}
   neighbor {{ remote_ip }} send-community
   {%- endif %}
   {%- if session.send_extended_community %}
   neighbor {{ remote_ip }} send-community extended
   {%- endif %}
   {%- if session.maximum_routes %}
   neighbor {{ remote_ip }} maximum-routes {{ session.maximum_routes }}
   {%- endif %}
   {%- endif %}
   neighbor {{ remote_ip }} update-source {{ local_ip }}
   {%- if session.admin_state == 'DOWN' %}
   neighbor {{ remote_ip }} shutdown
   {%- endif %}

   !
   address-family ipv4
   {%- if session.import_policy %}
      neighbor {{ remote_ip }} route-map {{ session.import_policy }} in
   {%- endif %}
   {%- if session.export_policy %}
      neighbor {{ remote_ip }} route-map {{ session.export_policy }} out
   {%- endif %}
   {%- if session.remove_private_as %}
      neighbor {{ remote_ip }} remove-private-as
   {%- endif %}
      neighbor {{ remote_ip }} activate
   !
   {%- if session.session_type == 'IBGP' %}
   address-family evpn
      neighbor {{ remote_ip }} activate
   !
   {%- endif %}
{%- endfor %}

{%- if bgp_peering_sessions %}
!
! Route-map configurations for peering policies
{%- for peering in bgp_peering_sessions %}
{%- set session = peering %}
{%- if session.local_pref %}
route-map {{ session.name }}-LOCAL-PREF-IN permit 10
   set local-preference {{ session.local_pref }}
!
{%- endif %}
{%- if session.med %}
route-map {{ session.name }}-MED-OUT permit 10
   set metric {{ session.med }}
!
{%- endif %}
{%- if session.peer_group and session.peer_group.local_pref %}
route-map {{ session.peer_group.name }}-LOCAL-PREF-IN permit 10
   set local-preference {{ session.peer_group.local_pref }}
!
{%- endif %}
{%- endfor %}
{%- endif %}

{%- if bgp_peering_sessions %}
!
! BGP Peering Summary
!
{%- for peering in bgp_peering_sessions %}
! Session: {{ peering.name }}
!   Local AS: {{ peering.local_as.asn }}
!   Remote AS: {{ peering.remote_as.asn }}
!   Local IP: {{ peering.local_ip.address.split('/')[0] }}
!   Remote IP: {{ peering.remote_ip.address.split('/')[0] }}
!   Type: {{ peering.peering_type }}
!   Scope: {{ peering.session_scope }}
!   Admin State: {{ peering.admin_state }}
{%- if peering.external_organization %}
!   Partner: {{ peering.external_organization.name }}
{%- endif %}
{%- endfor %}
!
{%- endif %}