!
! {{ name }} Configuration
!
hostname {{ name }}
!
feature ospf
feature bgp
feature interface-vlan
feature lacp
feature vpc
feature lldp
!
{%- if vlans and vlans|length > 0 %}
! VLANs
{%- for vlan in vlans %}
vlan {{ vlan.vlan_id }}
  name {{ vlan.name }}
!
{%- endfor %}
{%- endif %}
!
! Interfaces
{%- for interface in interfaces %}
interface {{ interface.name }}
{%- if interface.status == 'active' %}
  no shutdown
{%- endif %}
{%- include 'common/cisco_nxos_interface_ip.j2' %}
{%- if interface.vlans and interface.vlans|length > 0 %}
  switchport
  switchport mode access
  switchport access vlan {{ interface.vlans[0] }}
{%- endif %}
{%- if interface.get('ospf') %}
  ip ospf area {{ interface.ospf.area }}
{%- endif %}
!
{%- endfor %}
!
{%- if ospf and ospf|length > 0 %}
! OSPF Configuration
{% include 'common/cisco_nxos_ospf.j2' %}
{%- endif %}
!
{%- if bgp and bgp|length > 0 %}
! BGP Configuration
{% include 'common/cisco_nxos_bgp.j2' %}
{%- endif %}
!
{%- include 'common/cisco_nxos_management.j2' %}
!
! Management
line console
line vty
!
