!
! {{ name }} Configuration
!
hostname {{ name }}
!
feature ospf
feature bgp
feature interface-vlan
feature lacp
feature vpc
feature lldp
!
! VLANs
{%- for vlan in vlans %}
vlan {{ vlan.vlan_id }}
  name {{ vlan.name }}
!
{%- endfor %}
!
! Interfaces
{%- for interface in interfaces %}
interface {{ interface.name }}
{%- if interface.status == 'active' %}
  no shutdown
{%- endif %}
{%- if interface.ip_addresses %}
{%- for ip in interface.ip_addresses %}
  ip address {{ ip.address }}
{%- endfor %}
{%- endif %}
{%- if interface.vlans %}
  switchport
  switchport mode access
  switchport access vlan {{ interface.vlans[0] }}
{%- endif %}
{%- if interface.get('ospf') %}
  ip ospf area {{ interface.ospf.area }}
{%- endif %}
!
{%- endfor %}
!
! OSPF Configuration
{%- for ospf_config in ospf %}
router ospf {{ ospf_config.process_id }}
  router-id {{ ospf_config.router_id.split('/')[0] }}
  area {{ ospf_config.area }} authentication message-digest
  auto-cost reference-bandwidth {{ ospf_config.reference_bandwidth }}
  passive-interface default
{%- for interface in interfaces %}
{%- if interface.get('ospf') and interface.ospf.area == ospf_config.area %}
  no passive-interface {{ interface.name }}
{%- endif %}
{%- endfor %}
!
{%- endfor %}
!
! BGP Configuration
{%- for bgp_config in bgp %}
router bgp {{ bgp_config.local_as.asn }}
  router-id {{ bgp_config.router_id.address.split('/')[0] }}
{%- if bgp_config.graceful_restart %}
  graceful-restart
{%- endif %}
  !
  template peer-policy {{ bgp_config.profile }}
    send-community
    send-community extended
{%- if bgp_config.session_type == 'INTERNAL' %}
    route-reflector-client
{%- endif %}
  exit-peer-policy
  !
  template peer-session {{ bgp_config.profile }}-SESSION
    update-source {{ bgp_config.local_ip.address.split('/')[0] }}
  exit-peer-session
  !
  address-family ipv4 unicast
{%- if bgp_config.multipath %}
    maximum-paths 8
{%- endif %}
  !
  address-family l2vpn evpn
{%- for session in bgp_config.sessions %}
  neighbor {{ session.remote_ip.address.split('/')[0] }}
    remote-as {{ session.remote_as.asn }}
    inherit peer-session {{ bgp_config.profile }}-SESSION
    address-family l2vpn evpn
      inherit peer-policy {{ bgp_config.profile }}
    !
{%- endfor %}
!
{%- endfor %}
!
! Management
line console
line vty
!